<app-myMovies></app-myMovies>
<span class="label label-danger">Directivas</span>
<table class="table table-condensed table-hover">
    <thead>
        <tr>
            <th *ngIf="nameIf">Hola </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Lenin</td>
        </tr>
    </tbody>
</table>
<ul *ngFor="let item of movieList ; #i = index">
    <li (click)="selectedMovie(i, item)" >{{i}} - {{item}}</li>
</ul>
<span class="label label-default">Cart</span>
<br>
<div class="input-group">
    {{cart}}
</div>
<span  *ngFor="let item of cart">
    <button type="button" class="btn btn-default">{{item}}</button>
</span>
<br>
<table class="table table-condensed table-hover">
    <thead>
        <tr>
            <th *ngIf="nameIf">Hola </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of movieList">
            <td>{{item}}</td>
        </tr>
    </tbody>
</table>
<app-myPeople></app-myPeople>